.ourStory-container .contact .contact-container {
  padding: 0 20px;
}
.contact-container h3 {
  color: white;
  font-weight: 500;
  margin-top: 20px;
}
.contact-height {
  padding-top: 125px;
}
.contact-container h4 {
  color: white;
  font-weight: 200;
  margin-bottom: 20px;
}
.contact-container h3,
.contact-container h4 {
  color: white;
  text-align: center;
}
.contact-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 20px;
}
.contact-container form input {
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.contact-container form textarea {
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
#submit-btn {
  color: white;
  background-color: #b7410e;
  border: 0.5px solid white;
}
footer {
  background-color: white;
  height: 250px;
  font-family: poppins;
  font-weight: 500;
  padding: 10px;
  box-sizing: border-box;
  color: #b7410e;
}
.footer-container {
  border: 1px solid #b7410e;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.copyRight {
  text-align: center;
  font-weight: 300;
  font-size: 0.9rem;
  margin: 10px 0 0 0;
}
footer p a {
  text-decoration: none;
  color: #b7410e;
}
footer p a:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.details {
  line-height: 45px;
}
.soc-meds {
  display: flex;
  flex-direction: column;
}
.soc-meds img {
  width: 40px;
  object-fit: contain;
  border-radius: 50px;
}
