.location-container {
  margin: 110px 0 100px 0;
}
.title {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}
.location-container h1 {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 3rem;
  font-family: poppins;
  color: white;
  display: inline;
}

.nav-container {
  height: 110px;
}

@media screen and (max-width: 768px) {
  .location-container h1 {
    font-size: 1.8rem;
  }
  .title img {
    width: 200px;
    margin: 0 auto;
    padding-top: -100px;
  }
  .location-icon {
    width: 70px;
  }
  .RNJP-icon {
    display: block;
    width: 80%;
    margin: 10px auto 0;
    text-align: center;
  }
  .RNJP-icon img {
    width: 200px;
  }
  .reception--church {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #b7410e;
    gap: 20px;
    height: 70vh;
  }
  .RC-container {
    width: 80%;
    margin: 0 auto;
    padding: 5px 20px;
    flex: 1;
    background-color: white;
    text-align: center;
    gap: 10px;
    font-family: poppins;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 5px;
  }

  .RC-container img {
    width: 80px;
    z-index: 1;
  }
  .RC-container h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #b7410e;
  }
  .RC-container p {
    font-weight: 400;
    margin-bottom: 10px;
    color: #b7410e;
  }
  .RC-container button {
    padding: 5px 8px;
    background-color: #b7410e;
    border: none;
    border-radius: 2px;
  }

  .RC-container a {
    text-decoration: none;
    font-family: poppins;
    color: white;
    font-size: 1rem;
  }
}
