.ourStory-text {
  padding: 15px 10px;
  margin: 0 auto;
  width: 90%;
  border: 1px groove white;
  margin-top: 15px;
  border-style: dotted;
}
.ourStory-container {
  padding: 100px 0 0 0;
  margin-bottom: 20px;
}
.ourStory-container p {
  font-family: "Great Vibes", cursive;
  text-align: justify;
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 0.9rem;
  text-indent: 30px;
}

.bgF-3 {
  mix-blend-mode: color-burn;
  position: absolute;
  z-index: -100;
  top: 500px;
  left: -20px;
  width: 300px;
}
