.ourStory-container .title {
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
body {
  position: relative;
  z-index: -1;
}
.ourStory-container {
  font-family: poppins;
  position: relative;
  z-index: -1;
}
.ourStory-container .title .ps_text {
  font-size: 1.6rem;
  margin: 10px 10px 0;
}
.ourStory-container .title img {
  width: 200px;
  margin: 0 auto;
  padding-top: -100px;
}
/* .parentSponsors-container {
  padding: 20px 0px;
  color: white;
  font-family: poppins;
  z-index: -11;
} */
.border-left {
  width: 110px;
  position: absolute;
  z-index: -10;
  left: -10px;
  top: -38px;
}
.parents-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px auto 10px;
  padding: 0 20px 0 25px;
  position: relative;
  z-index: 1;
}
.border-rightBtm {
  width: 110px;
  position: absolute;
  z-index: -10;
  right: -8px;
  bottom: -45px;
}

.parents-groom h3,
.parents-bride h3 {
  color: white;
  font-size: 1.3rem;
  text-decoration: underline;
  font-weight: 400;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}
.parents-bride {
  padding: 20px 5px 0 40px;
}

.parents-groom p {
  text-indent: 0;
  text-align: justify;
}
.parents-bride p,
.parents-bride h3 {
  text-align: end;
}

.ourStory-container a {
  text-decoration: none;
  font-size: 1.1rem;
}
.pSponsors,
.secondary-sponsors {
  margin: 40px 0 0 0;
  padding: 0 15px 40px 25px;
}
.pSponsors-container {
  display: flex;
  width: 100%;
  margin: 10px auto 0;
  gap: 5px;
  flex-direction: column;
  border-right: 5px dashed white;
}
.pSponsors h3,
.secondary-sponsors h3 {
  color: white;
  text-align: justify;
  font-size: 1.3rem;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 20px;
}
.pSponsors-name {
  flex: 1;
}
.pSponsors-name p {
  font-size: 1rem;
  letter-spacing: 0px;
  text-align: justify;
  text-indent: 0;
  line-height: 25px;
  letter-spacing: 2px;
}
.bestMan-maidOfHonor {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
  border-left: 5px dashed white;
}
.bestMan-maidOfHonor h4 {
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: end;
  font-size: 1.1rem;
}
.bestMan-maidOfHonor p {
  font-size: 1rem;
  text-align: end;
}
.secondary-sponsors {
  display: flex;
  width: 100%;
  margin: 10px auto 0;
  gap: 5px;
  flex-direction: column;
  border-left: 5px dashed white;
  border-right: 5px dashed white;
}
.secondary-sponsors h3 {
  text-align: center;
}
.secondary-sponsors h4 {
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 1.1rem;
}
.secondary-sponsors p {
  text-align: center;
}
