* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}
body {
  background-color: #b7410e;
  width: 100%;
}
.page-container {
  position: relative;
}
.cover {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 100;
  right: 0;
  bottom: -527px;
}
.coverImgTop {
  width: 100%;
  mix-blend-mode: multiply;
}
.cover-container {
  color: #b7410e;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: "Great Vibes", cursive;
}
.cover-container h1 {
  font-size: 2.5rem;
}
.cover-container h3 {
  font-size: 1.5rem;
}
.cover-container h2 {
  font-size: 2.8rem;
}
.cover-container h4 {
  font-family: poppins;
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 20px;
}
.jpRonaPic {
  width: 350px;
  margin: 0 auto;
}
.coverImgBtm {
  width: 100%;
  mix-blend-mode: multiply;
}

.nav-container {
  height: 40vh;
  background-color: white;
  padding: 15px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 2px 1px 4px gray;
  width: 100%;
  z-index: 10;
}
.img-icon {
  text-align: center;
}
.img-icon img {
  width: 50%;
  height: 350px;
  text-align: center;
  margin-top: 10px;
}
.hamburger {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #b7410e;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  color: #1b1c1e;
}
.nav-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 20px auto;
}
.nav-container ul li {
  text-align: center;
  list-style: none;
  flex: 1;
}
.nav-container ul li a {
  text-decoration: none;
  color: #b7410e;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.nav-icon {
  width: 50px;
  mix-blend-mode: multiply;
  aspect-ratio: 3/2;
}
main {
  padding: 550px 200px 0;
  height: 100vh;
}

main h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 2rem;
  margin: 0 0 0 0;
}
.countDown-container {
  display: flex;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.countDown-container img {
  position: absolute;
  width: 330px;
  height: 330px;
  right: -10px;
  top: -165px;

  z-index: -5;
}
.countDown-semiContainer {
  z-index: -1;
  border-radius: 5px;
  background-color: white;
  flex: 1;
  color: #b7410e;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.countDown-semiContainer:hover {
  background-color: red;
}
.countDown-semiContainer p {
  font-size: 3rem;
}
.countDown-semiContainer span {
  font-size: 2rem;
  text-transform: uppercase;
}
.countDown-semiContainer p,
.countDown-semiContainer span {
  color: #b7410e;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .nav-container ul li a {
    color: white;
  }

  .img-icon {
    margin: 0;
  }
  .nav-container {
    padding: 0;
    margin: 0;
  }
  .nav-icon {
    width: 50px;
    mix-blend-mode: multiply;
    aspect-ratio: 3/2;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .img-icon img {
    width: 100%;
    height: 280px;
    margin-top: 50px;
  }
  .nav-menu {
    position: absolute;
    left: -100%;
    top: -20px;
    gap: 0;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    height: 104vh;
    background-color: rgb(183, 65, 14);
    z-index: 1000;
    width: 500px;
  }
  .nav-item {
    margin: 30px 0px;
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: -20px;
  }
  .nav-menu:hover {
    background-color: rgba(183, 65, 14, 0.7);
  }

  .nav-menu.active {
    left: 0px;
  }
  .nav-link:hover {
    color: var(--animation-color);
  }
  .nav-link {
    margin-bottom: 100px;
  }
  .nav-link img {
    display: block;
    margin: 0 auto;
  }
  main {
    padding: 400px 0 0 0;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
  }
  main h2 {
    font-size: 1.5rem;
    margin-left: 17px;
  }
  .countDown-container {
    gap: 5px;
    margin: 0 auto;
    padding-top: 44px;
  }
  .countDown-semiContainer {
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .countDown-semiContainer p {
    font-size: 2rem;
  }

  .countDown-semiContainer span {
    font-size: 1rem;
  }
  .dressCode {
    background-color: white;
    margin: 70px 0 0 0;
    padding: 20px 0 50px 0;
    position: relative;
    z-index: -1;
  }
  .dressCode h2 {
    color: #b7410e;
    margin: 0;
    font-weight: 400;
    margin: 0 0 10px 0;
  }
  .dressCode h3 {
    text-align: center;
    color: #b7410e;
    font-family: poppins;
    font-weight: 300;
    margin: 0 0 10px 0;
  }
  .colorImg {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    border-left: 2px dashed #b7410e;
    border-right: 2px dashed #b7410e;
    border-radius: 50px;
    padding: 10px 0;
  }
  .colorImg img {
    mix-blend-mode: multiply;
    width: 200px;
  }
}
