.location-container p {
  display: block;
  text-align: center;
}
.bgF-2 {
  position: absolute;
  mix-blend-mode: color-burn;
  z-index: -1;
  bottom: 0;
  right: 0;
}
.sched-container {
  padding: 20px 55px;
  color: white;
  font-family: poppins;
}
.sched-container ol {
  line-height: 25px;
}
.sched-container ol li {
  list-style-type: upper-roman;
  font-size: 1.2rem;
}
.sched-container ul {
  margin-left: 55px;
}
.sched-container ul li {
  list-style-type: disc;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 0.9rem;
}
