.location-container p {
  display: block;
  text-align: center;
}
.bgF-2 {
  position: absolute;
  mix-blend-mode: color-burn;
  z-index: -1;
  bottom: -100px;
  right: 0px;
}

.sched-container {
  padding: 20px;
  color: white;
  font-family: poppins;
}
.sched-container ol {
  line-height: 30px;
}
.sched-container ol li {
  list-style-type: upper-roman;
  font-size: 1.1rem;
}
.sched-container .first li {
  list-style-type: upper-alpha;
}
span {
  margin-left: 90px;
  font-weight: 200;
}
i {
  font-weight: 100;
  text-align: center;
}
.sched-container .second li {
  list-style-type: none;
  margin-left: -20px;
}
.sched-container ul {
  margin-left: 25px;
}
.sched-container ul li {
  list-style-type: disc;
  font-weight: 250;
  letter-spacing: 1px;
  font-size: 1rem;
}
.sched-semiContainer {
  border: 1px solid;
  padding: 20px 40px 20px 50px;
}
