.location-container p {
  display: block;
  text-align: center;
}

.sched-container {
  padding: 20px 55px;
  color: white;
  font-family: poppins;
}
.sched-container ol {
  line-height: 25px;
}
.sched-container ol li {
  list-style-type: upper-roman;
}
.sched-container ul {
  margin-left: 55px;
}
.sched-container ul li {
  list-style-type: disc;
  font-weight: 100;
  letter-spacing: 2px;
}
