th,
td {
  border: 1px solid #b7410e;
  padding: 10px 0;
}
/* th:hover {
  border: 1px solid white;
  background-color: #b7410e;
  color: white;
}
td:hover,
a:hover {
  border: 1px solid white;
  background-color: #b7410e;
  color: white;
} */

table {
  width: 95%;
  margin: -90px auto 40px;
}
th {
  font-size: 1.2rem;
  font-family: poppins;
  color: #b7410e;
  background-color: white;
  border: 0.5px solid #b7410e;
}
a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  font-family: "Great Vibes", cursive;
}
td {
  text-align: center;
  border: 0.5px solid white;
}
td:hover {
  background-color: white;
}
a:hover {
  background-color: white;
  color: #b7410e;
}
